<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>How To CinemaAndSip V1</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css">
  <script src="https://kit.fontawesome.com/def4d34cce.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="assets/howto.css">
  <link rel="stylesheet" href="assets/style.css">
</head>

<!-- main title of page, title + description -->

<body class="has-background">
<div id="titleBox" class="container-fluid">
<div class="box is-size-1 is-size-2-mobile is-family-monospace has-text-weight-bold">
  <h1 id="centerMaintitle"><i class="fa-solid fa-film"></i> Cinema & Sip <i class="fa-solid fa-whiskey-glass"></i>
  </h1>
  <p class="is-size-4 is-size-7-mobile" id="titleDescription">Find the perfect pairing of movie and beverage</p>

</div>

  <!-- background posters div, this is set to z: -1, so it is behind everything below line 26 -->
  
  <div id="posterBackground" class="columns is-gapless">
    <div id="movies" class="column is-12"></div>
  </div>
  
<!-- how to use the website boxes -->
<div class="container">
  <div class="section" class="container-fluid-1">
  <div class="box is-size-10 is-family-monospace">
    <div class="columns is-mobile">
      <div class="column has-text-centered" id="howToTitle">
        <h1 class="title" style="color: ghostwhite;">How to <i class="fa-solid fa-film"></i> & <i class="fa-solid fa-whiskey-glass"></i></h1><br>
      </div>
    </div>
    <div id="app" class="row columns is-multiline">
        <div v-for="card in cardData" key="card.id" class="column is-6" id="cardBox">
          <div class="card large">
            <div class="card-image">
              <figure class="image is-16by9">
                <img src="images/getStarted.png" alt="Image">
              </figure>
            </div>
            <div class="card-content">
              <div class="media-content">
                <p class="title is-4 no-padding">1. Get Started</p>
                <p class="subtitle is-6">To 'Get Started', simply click on the 'Get Started' button! (Easy enough, right?)</p>
              </div>
            </div>
          </div>
        </div>
        <div v-for="card in cardData" key="card.id" class="column is-6" id="cardBox">
          <div class="card large">
            <div class="card-image">
              <figure class="image is-16by9">
                <img src="images/movieGenre.png" alt="Image">
              </figure>
            </div>
            <div class="card-content">
              <div class="media-content">
                <p class="title is-4 no-padding">2. Choose Movie Genre</p>
                <p class="subtitle is-6">Using the dropdown, select a movie genre that you are feeling for the night</p>
              </div>
            </div>
          </div>
        </div>
    </div>
    <div id="app" class="row columns is-multiline">
      <div v-for="card in cardData" key="card.id" class="column is-6" id="cardBox">
        <div class="card large">
          <div class="card-image">
            <figure class="image is-16by9">
              <img src="images/alcoholType.png" alt="Image">
            </figure>
          </div>
          <div class="card-content">
            <div class="media-content">
              <p class="title is-4 no-padding">3. Select Alcohol Type</p>
              <p class="subtitle is-6">Then, select an alcohol type whether it's your favorite or it's just what you have on hand</p>
            </div>
          </div>
        </div>
      </div>
      <div v-for="card in cardData" key="card.id" class="column is-6" id="cardBox">
        <div class="card large">
          <div class="card-image">
            <figure class="image is-16by9">
              <img src="images/suggestedPairs.png" alt="Image">
            </figure>
          </div>
          <div class="card-content">
            <div class="media-content">
              <p class="title is-4 no-padding">4. Suggested Pairings</p>
              <p class="subtitle is-6">You will then be given 3 suggested pairings based off of your choices!</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="app" class="row columns is-multiline">
      <div v-for="card in cardData" key="card.id" class="column is-6" id="cardBox">
        <div class="card large">
          <div class="card-image">
            <figure class="image is-16by9">
              <img src="images/Ingredients.png" alt="Image">
            </figure>
          </div>
          <div class="card-content">
            <div class="media-content">
              <p class="title is-4 no-padding">5. Beverage Ingredients</p>
              <p class="subtitle is-6">Lastly, hover your mouse cursor (or tap) on the beverage name to get the ingredients to your drink concoction</p>
            </div>
          </div>
        </div>
      </div>
      <div v-for="card in cardData" key="card.id" class="column is-6" id="cardBox">
        <div class="card large">
          <div class="card-image">
            <figure class="image is-16by9">
              <img src="images/dailySuggestions.png" alt="Image">
            </figure>
          </div>
          <div class="card-content">
            <div class="media-content">
              <p class="title is-4 no-padding">Daily Suggested Pairings</p>
              <p class="subtitle is-6">If you are undecided on movie genres and beverages, feel free to check out our daily Suggested Pairings! (Reload page for more suggestions)</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>

<button id="homeBtn" class="mt-5 js-modal-trigger button is-medium is-rounded" onclick="window.location.href='index.html'">
  Home Page
</button>

<!-- footer -->
<footer class="footer" id="footer">
  <div class="content has-text-centered">
    <p>
      <a href="https://www.themoviedb.org/?language=en-US" target="_blank"><img
          src="https://www.themoviedb.org/assets/2/v4/logos/v2/blue_square_2-d537fb228cf3ded904ef09b136fe3fec72548ebc1fea3fbbd1ad9e36364db38b.svg"
          alt="Link to The MovieDB" style="width:100px;height:100px;" class="apiWebsite"></a>
      <a href="https://www.thecocktaildb.com/" target="_blank"><img src="https://www.thecocktaildb.com/images/logo.png"
          alt="Link to The CocktailDB" style="width:240px;height:60px;" class="apiWebsites"></a>
    </p>
    <p>
      <strong>© 2022 &nbsp; <i class="fa-solid fa-film"></i> Cinema & Sip <i
          class="fa-solid fa-whiskey-glass"></i></strong>
      &nbsp; by
      Shaun, Zach, Chris & Sean
    </p>
  </div>
</footer>

<script src="assets/script.js"></script>
<script src="assets/movieDB.js" type="module"></script>
<link rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/@creativebulma/bulma-tooltip@1.0.2/dist/bulma-tooltip.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</body>
</html>