@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* sets bg color and height, position must be set to relative and z index to -1, otherwise this will cover all elements */
body, html {
  height: 100%;
  background-color: lightblue;
  position: relative;
  z-index: -1;
}

.container-fluid {
  text-align: center;
}

/* items with z index of -1 are in the background, those with 1 are in th foreground and can be selected */

/* the animation lowers the opacity of the background posters, to make the suggestions more visible */



#posterBack {
  border: solid black 2px;
  opacity: 0.4;
  -webkit-transition: opacity 3s ease-in;
  -moz-transition: opacity 3s ease-in;
  -o-transition: opacity 3s ease-in;
  -ms-transition: opacity 3s ease-in;
  transition: opacity 3s ease-in;
}

#posterBackground {
  z-index: -1;
  position: fixed;
  top: 10px;
}

#startBtn {
  z-index: 1;
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0);
  animation: blinker 4s infinite;
  background-color: rgb(29, 185, 169);
  color: white;
}

@keyframes blinker {
  50% {
    background-color: rgb(46, 116, 196);
  }
}

/* animation for the suggestion box to fade in */

.box {
  background-color: rgb(1, 22, 39);
  color: white;
}

#suggestionPoster {
  height: 274px;
  border: solid black 3px;
}

#randomDrinkSuggestion {
  width: 274px;
  border: solid black 3px;
}


#suggestionBox {
  animation: fadeIn 3s;
  -webkit-animation: fadeIn 3s;
  -moz-animation: fadeIn 3s;
  -o-animation: fadeIn 3s;
  -ms-animation: fadeIn 3s;
  text-align: center;
  z-index: 1;
  position: relative;
  bottom: 50px;
  left: 50%;
  transform: translate(-50%, 0);
  padding-top: 90px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

#modal-js-movies {
  animation: fadeIn 1s;
  -webkit-animation: fadeIn 1s;
  -moz-animation: fadeIn 1s;
  -o-animation: fadeIn 1s;
  -ms-animation: fadeIn 1s;
}


#next-btn {
  background-color: rgb(48, 134, 205);
}

#choose-alc {
  background-color: rgb(48, 134, 205);
}

#categories-list {
  padding-right: 1.4rem;
}


#footer {
  margin-top: 20rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}


#suggDrink1Img, #suggDrink2Img, #suggDrink3Img {
  height: 105px;
  width: 150px;
}

#pairing1, #pairing2, #pairing3 {
  border: solid white 2px;
  margin: 5px;
  background-color: rgb(1, 22, 39);
  color: white;
}

#userSuggestiontitle {
  border: 2px;
  margin: 5px;
  background-color: rgb(1, 22, 39);
  color: white;
  font-size: 24px;
}

#pairing1:hover, #pairing2:hover, #pairing3:hover {
  border: solid yellow 2px;
  margin: 5px;
  background-color: black;
  color: yellow;
  transform: scale(1.25);
}